dialect = "uk"
filter_mode = "session-preload"
workspaces = true
style = "compact"
secrets_filter = false

[daemon]
enabled = true

[tmux]
enabled = true

[ai]
{{- if .personal }}
enabled = true

[pty_proxy]
enabled = true
{{- else }}
enabled = false
{{- end -}}
