[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/gitolite"]
	path = vim/bundle/gitolite
	url = git://github.com/tmatilai/gitolite.vim.git
[submodule "ssh"]
	path = ssh
	url = git@git.mayhemlabs.net:ssh
