[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/bundle/vim-superman"]
	path = vim/bundle/vim-superman
	url = https://github.com/jez/vim-superman.git
[submodule "config/nvim/bundle/sensible"]
	path = config/nvim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "config/nvim/bundle/pathogen"]
	path = config/nvim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "config/nvim/bundle/fugitive"]
	path = config/nvim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "config/nvim/bundle/molokai"]
	path = config/nvim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "config/nvim/bundle/lightline"]
	path = config/nvim/bundle/lightline
	url = git://github.com/itchyny/lightline.vim.git
[submodule "config/nvim/bundle/fzf"]
	path = config/nvim/bundle/fzf
	url = git://github.com/junegunn/fzf.vim.git
[submodule "config/nvim/bundle/polyglot"]
	path = config/nvim/bundle/polyglot
	url = git://github.com/sheerun/vim-polyglot
[submodule "config/nvim/bundle/ledger"]
	path = config/nvim/bundle/ledger
	url = git://github.com/ledger/vim-ledger
[submodule "config/nvim/bundle/neomake"]
	path = config/nvim/bundle/neomake
	url = git://github.com/benekastah/neomake.git
[submodule "config/nvim/bundle/gutentags"]
	path = config/nvim/bundle/gutentags
	url = git://github.com/ludovicchabant/vim-gutentags
[submodule "config/nvim/bundle/gitgutter"]
	path = config/nvim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen
[submodule "config/nvim/bundle/vim-sleuth"]
	path = config/nvim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "config/nvim/bundle/holokai"]
	path = config/nvim/bundle/holokai
	url = https://github.com/changyuheng/color-scheme-holokai-for-vim.git
[submodule "config/nvim/bundle/vim-startify"]
	path = config/nvim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "config/nvim/bundle/vim-lucius"]
	path = config/nvim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius
[submodule "config/nvim/bundle/vim-taskwarrior"]
	path = config/nvim/bundle/vim-taskwarrior
	url = https://github.com/blindFS/vim-taskwarrior.git
[submodule "config/nvim/bundle/vim-puppet"]
	path = config/nvim/bundle/vim-puppet
	url = https://github.com/voxpupuli/vim-puppet.git
[submodule "config/nvim/bundle/deoplete"]
	path = config/nvim/bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim
