{{- if eq .chezmoi.username "aeg" -}}
Include ~/.orbstack/ssh/config
{{- end }}
Include ~/.ssh/config.d/*

Host *
    {{- if eq .chezmoi.username "aeg" }}
    User aeg
    {{- else }}
    User adamgibbins
    {{- end }}
    UseKeychain yes
    AddKeysToAgent yes
    SetEnv TERM=xterm-256color
    ServerAliveInterval 60
    ControlMaster auto
    ControlPath ~/.ssh/cm-%C
    ControlPersist 10m
