[tools]
go = "latest"
"gem:ruby-lsp" = "0.26.11"
node = "latest"
prek = "latest"
prettier = "latest"
python = "latest"
ruff = "latest"
rust = "latest"
shellcheck = "latest"
shfmt = "latest"
stylua = "latest"
terraform = "latest"
uv = "latest"
{{- if eq .chezmoi.username "aeg" }}
claude-code = "latest"
{{- end }}
