{{- template "starship.toml.tmpl" (dict
    "directory" "#4385BE"
    "git_branch" "#8B7EC8"
    "git_status" "#D14D41"
    "aws" "#3AA99F"
    "character_success" "#879A39"
    "character_error" "#D14D41"
) -}}
