{{- template "starship.toml.tmpl" (dict
    "directory" "#205EA6"
    "git_branch" "#5E409D"
    "git_status" "#AF3029"
    "aws" "#24837B"
    "character_success" "#66800B"
    "character_error" "#AF3029"
) -}}
